# Игнорирование исполняемых файлов
hello
hello-dbg

# Игнорирование объектных файлов и временных файлов сборки
*.o
*.obj
*.log
*.tmp

# Игнорирование директорий сборки
build/
bin/
out/
dist/

# Игнорирование временных файлов системы и редакторов
*.swp
*.swo
*.bak
*~
