hello
hello-dbg
# Игнорирование исполняемых файлов
*.exe
*.dll
*.so
*.dylib
*.out

# Игнорирование объектных файлов
*.o
*.obj

# Игнорирование временных файлов компиляции
*.log
*.tmp
*.swp
*.bak
*.swo

# Игнорирование других артефактов сборки
*.a
*.lib
*.jar
*.war
*.zip
*.tar.gz
